<div>
  <h1 style="text-align:center">
    Welcome to {{ title }}!
  </h1>
  <a class="btn btn-success" (click)="viewAddStudent()" role="button">Add new student</a><br>
  <div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Classroom</th>
          <th scope="col">DOB</th>
          <th scope="col">Address</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let student of students">
              <td scope="row">{{student.id}}</td>
              <td>{{student.name}}</td>
              <td>{{student.classroom.name}}</td>
              <td>{{student.dob | date:'dd-MM-yyyy'}}</td>
              <td>{{student.address}}</td>
              <td>
                  <a class="btn btn-primary" [routerLink]="['/edit-student/',student.id]" role="button">Edit</a> ||
                  <a class="btn btn-danger" (click)="deleteStudent(student.id)" role="button">Delete</a>
              </td>
          </tr>
      </tbody>
    </table>
  </div>
  
 
